.block{
    height: 450px;
    width: 25%;
    border: 1px solid #c7ae6a;
    border-radius: 20px;
    margin: 175px 35%;
    justify-content: center;
    text-align: center;
    background-color: #321497;
    box-shadow: 0 1px 6px #d5c28f, 0 1px 4px #d5c28f;
}
.block img{
    margin-top: 30px;
    height: 50px;
    width: 75px;
}

.contents{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap:  5px;
    margin-top: 75px;
}
